@import url("https://fonts.googleapis.com/css2?family=Actor&family=Archivo+Black&display=swap");

.contacts_main {
  background: linear-gradient(
    0deg,
    var(--first-color-gradient),
    var(--second-color-gradient)
  );
}
.topImgContainer {
  height: 250px;
  background-size: contain;
  background-position: bottom;
}
.contacts_form {
  width: 100%;
}
.contacts_right,
.contacts_left {
  width: 45%;
}
.contacts_left h4 {
  text-align: left;
}
.contacts_right h4 {
  text-align: left;
}
.contacts_left p {
  color: var(--text-color);
}
.contacts_header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/img/blog-single.jpg");
  height: 250px;
  margin-bottom: 15px;
}
.contacts_header h2 {
  color: white;
  font-size: 4.5em;
}
.contacts_input_div {
  margin-bottom: 20px;
  width: 100%;
}
.contacts_info {
  color: #c74817;
  font-size: 1rem;
  margin-top: -10px;
  text-align: center;
}
.contacts_info_charLeft {
  color: #c74817;
  font-size: 0.8rem;
  margin-left: 10px;
}
.contacts_info_charLeft span {
  font-weight: 900;
}
.icons {
  color: var(--terracotta);
  font-size: 1.2em;
  margin-right: 12px;
}
.contacts_h4 {
  font-weight: 600;
}
.askText {
  font-family: "Actor", sans-serif;
  font-size: 2em;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.map {
  margin-top: 30px;
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
}
