.container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0 20px;
  background: linear-gradient(0deg, var(--first-color-gradient), var(--second-color-gradient));
}
.wrapper {
  width: 1130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0 112px;
}
.question {
  display: flex;
  gap: 8px;
}
