.noPage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
    background-image: url("public/img/404.jpg");
    background-size: cover;
    text-align: center;
    color: white;
}
.pageTop{
    z-index: 1;
    width: 50%;
    height: 50%;
    background-color: transparent;
    background-image: linear-gradient(180deg, #c7481778 0%, #c7481721 100%);
    border-radius: 12px;
}
.pageTop h4{
    font-family: 'Archivo Black', sans-serif;
    font-size: 10em;
    z-index: 100;
    filter: none;
}
.pageTop p{
    width: 60%;
    padding: 0 0 15px 0;
    color: var(--text-color);
}
.pageTop a{
    padding: 10px 15px;
    background-color: var(--terracotta);
    text-decoration: none;
    color: white;
    margin: 10px 0;
    border-radius: 7px;
}
@media (max-width: 991px) {
    .pageTop{
        top: 30%;
        left: 10%;
        width: 80%;
        height: 50%;
        background-color: #c74817;
    }
}