.type_main_container {
  /*background-color: #f7f3f0;*/
  background: linear-gradient(
    0deg,
    var(--second-color-gradient),
    var(--first-color-gradient)
  );
  padding: 50px 0 70px;
  position: relative;
}
.tile_background {
  position: absolute;
  top: 30%;
}

.tile_main {
  background-color: white;
  margin: 10px 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 1s ease-in-out;
  -webkit-box-shadow: 0px 10px 13px -7px #989898,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #989898, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.tile_main:hover .tile_title {
  color: var(--terracotta);
}
.tile_main:hover img {
  transition: all 0.5s ease-in-out;
  transform: translate(0px, -5px);
}
.tile_img {
  padding: 20px;
}
.tile_texts {
  display: flex;
  flex-direction: column;
}
.tile_title p {
  text-transform: uppercase;
  font-size: 1.7em;
  font-weight: 700;
  margin-top: -10px;
}
.tile_text p {
  color: var(--text-color);
  margin-top: 20px;
}
.tile_link p {
  color: var(--terracotta);
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.15em;
  font-weight: 500;
  margin-top: 20px;
}
.tile_link p::after {
  content: ">";
  margin-left: 5px;
}
.main_honey_title {
  color: var(--terracotta);
  text-align: center;
  margin: 20px 0;
  font-size: 2.5em;
  font-weight: 600;
  text-transform: uppercase;
}
