.events_main {
  background: linear-gradient(
    0deg,
    var(--first-color-gradient),
    var(--second-color-gradient)
  );
  margin-bottom: -66px;
}

.event_loader {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.events_date {
  display: flex;
  flex-direction: column;
  background-color: var(--terracotta);
  background: linear-gradient(
    315deg,
    rgb(250, 92, 1) 3%,
    rgb(240, 101, 14) 38%,
    rgb(244, 70, 21) 68%,
    rgb(170, 10, 10) 98%
  );
  animation: gradient 15s ease infinite;
  background-size: 200% 200%;
  background-attachment: fixed;
  width: 100px;
  margin-bottom: 20px;
  margin-right: 20px;
  border-radius: 5px;
  min-height: 120px;
  padding: 10px 0;
}
.events_main_list {
  display: flex;
  flex-direction: column;
  margin-top: -10px;
}
.events_main_list h4 {
  text-align: left;
  text-transform: uppercase;
  font-weight: 500;
}
.events_short_description {
  color: var(--text-color);
  font-size: 1em;
}
.events_date h5 {
  font-size: 5em;
  color: white;
  text-align: center;
}
.events_date p {
  color: white;
  text-align: center;
}
.events_list {
  display: flex;
}
.events_times span {
  color: var(--text-color);
}
.events_time {
  margin-right: 10px;
  margin-bottom: 10px;
  color: var(--terracotta);
}
.post_container {
  position: relative;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 5fr 2fr;
  gap: 8px;
  margin-bottom: 66px;
}
.post_bg {
  background-image: url("/img/blog-single.jpg");
  height: 250px;
  margin-bottom: 15px;
}
.post_bg h2 {
  color: white;
  font-size: 4em;
}
.container h2 {
  font-size: 2.5em;
}
.single_post {
  border-right: 1px solid #dbdbdb;
}
.post_time {
  color: var(--terracotta);
  font-size: 0.8em;
}
.post_img {
  width: 100%;
}
.post_event_date {
  font-size: 0.8em;
  color: var(--text-color);
}
.post_event_user {
  font-size: 0.8em;
  margin-top: -5px;
  color: var(--text-color);
}
.post_event_user span {
  color: var(--terracotta);
}
.post_event_h4 {
  text-align: justify;
  text-transform: uppercase;
  font-size: 1.2em;
}
.post_event_text_temp {
  color: var(--text-color);
  line-height: 25px;
  text-align: justify;
  min-height: 100px;
}
hr {
  margin: 20px 0;
}

.pagination_container {
  display: flex;
  justify-content: center;
}
.pagination_container li [aria-current="true"] {
  background-color: var(--yellow);
}

.post_hr {
  color: #c74817;
}
.post_right_side {
  background-color: #f7f3f0;
  padding: 15px 10px;
  border-radius: 5px;
}
.post_right_side h2 {
  font-size: 1.6em;
}
.post_right_side div h4 {
  font-size: 1.3em;
  margin-top: 0;
}
.post_event_text {
  font-size: 1.0em;
  line-height: 25px;
}
.past_pagination {
  margin-bottom: 20px;
}

.btn_nav_past_evt_cont {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.btn_nav_past_evt {
  /* padding: 2px; */
  border: none;
  border-radius: 50%;
  color: var(--terracotta);
  /* background-color: var(--yellow); */
  background-color: transparent;
  transition: color 250ms ease-in;
}
.btn_nav_past_evt:hover {
  /* background-color: var(--yellow); */
  color: var(--yellow);
}
.grey {
  border: none;
  color: var(--button-past-events);
}
.main_title {
  font-size: 24px;
  color: #333;
  text-align: center;
  opacity: 0;
  filter: blur(10%);
  animation: fadeInFromBlur 1.5s ease-in-out forwards;
}

.event_right_side {
  position: relative;
  animation: slideInFromBottom 1.5s ease-in-out forwards;
  filter: blur(20%);
  min-width: 400px;
}
@keyframes fadeInFromBlur {
  0% {
    opacity: 0;
    filter: blur(20%);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(50%);
    opacity: 0;
    filter: blur(20%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    filter: blur(0);
  }
}

.past_title {
  color: var(--terracotta);
}